<%= form_with(model: employee, local: true) do |form| %>
<div class='foo'>
  <div class='field' class='form-group'>
    <%= form.label :name %>
    <%= form.text_field :name , class: 'form-control' %>
  </div>
  <div class='field' class='form-group'>
    <%= form.label :manager_id %>
    <%= form.text_field :manager_id , class: 'form-control' %>
  </div>
  <div class='actions'>
    <%= form.submit 'submit', class: 'btn btn-primary '%>
  </div>
  <% end %>
</div>
